[submodule "grendelAIandDecisionProgram"]
	path = grendelAIandDecisionProgram
	url = https://github.com/johnfire/grendelAIandDecisionProgram/
[submodule "grendelPhysicalOperationProgram"]
	path = grendelPhysicalOperationProgram
	url = https://github.com/johnfire/grendelPhysicalOperationProgram/
[submodule "grendelShares"]
	path = grendelShares
	url = ./grendelShares/
[submodule "grendelSmallPrograms"]
	path = grendelSmallPrograms
	url = ./grendelSmallPrograms/
