[submodule "grendelAIandDecisionProgram"]
	path = grendelAIandDecisionProgram
	url = ./grendelAIandDecisionProgram/
[submodule "grendelPhysicalOperationProgram"]
	path = grendelPhysicalOperationProgram
	url = ./grendelPhysicalOperationProgram/
[submodule "grendelShares"]
	path = grendelShares
	url = ./grendelShares/
[submodule "grendelSmallPrograms"]
	path = grendelSmallPrograms
	url = ./grendelSmallPrograms/
